/* ---=== NORMALIZE CSS ===--- */

html {
    box-sizing: border-box; /* Будет работать для всех элементов сайта */
}

*, *::after, *::before {
     block-size: inherit; /* Нужно для наследования стилей при подключения сторонней библиотеки */
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}


/* .container {
    border: 1px solid #000;
} */

body {
    margin: 0;
}

.main {
    height: 100vh;
    min-height: 600px;
    background-image: -moz-linear-gradient( 150deg, rgb(136,211,206) 0%, rgb(110,69,226) 100%);
    background-image: -webkit-linear-gradient( 150deg, rgb(136,211,206) 0%, rgb(110,69,226) 100%);
    background-image: -ms-linear-gradient( 150deg, rgb(136,211,206) 0%, rgb(110,69,226) 100%);
  }
  