/* ---=== NORMALIZE CSS ===--- */

html {
    box-sizing: border-box; /* Будет работать для всех элементов сайта */
}

*, *::after, *::before {
     block-size: inherit; /* Нужно для наследования стилей при подключения сторонней библиотеки */
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}


/* .container {
    border: 1px solid #000;
} */


body {
    background: #818181;
}